:root{
--green:#687864;
--dark-blue: #31708e;
--mid-blue: #5085A5;
--light-blue: #8FC1E3;
--white:#F7F9Fb;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white);
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('./images/hero.png');
    background-size: cover;
    background-position: 0%;
    background-attachment: fixed;

}

header {
    padding: 20px 35px 0 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 0;
}

header h2 {
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0,5);
}

header a {
    text-decoration: none;
    color: inherit;
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex: 0 0 45%;
}

header nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--white);
    color: var(--mid-blue);
    border-radius: 30px;
    text-shadow: none;
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 100px 200px 200px 0px;
}

.hero h1 {
    font-size: 55px;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(104, 120, 100, .9);
    margin: 20px;
    border-radius: 5px;
    box-sizing: content-box;
}

a {
    font-size: 2vw;
}

.section-title{
    text-align: center;
    font-size: 3vw;
    margin: 1vw;
    flex: 80%
}

.about-me img{
    width: 20%;
    margin: 0 0 5vw 5vw;
    border-radius: 5px;
    border: .25vw solid var(--light-blue);
}

.about-me p{
    font-size: 2vw;
    word-spacing: .1vw;
    line-height: 2.5vw;
    flex: 50%;
    text-align: left;
    padding: 5vw;
}

.my-work div{
    padding: 2vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.work-tiles{
    align-items: center;
}

.my-work div:first-child{
    flex: 80%;
}

.tile{
    margin: 10px;
    background-position: center;
    background-size: cover;
    height: 20vw;
    border-radius: 1vw;
}

.tile:hover{
    border: 1px solid var(--light-blue);
}

a{
    text-decoration: none;
    color: #ffff;
}

#dog-maps {
    background-image: url("../assets/images/dog-maps.jpg");
}

#run-buddy {
    background-image: url("../assets/images/run-buddy-hero.jpg");
}

#robot-gladiators {
    background-image: url("../assets/images/robot-gladiators.jpeg");
}

#placeholder-2{
    background-image: url("../assets/images/placeholder2.png");
}

.info-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 90%;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 40%;
    width: 20%;
    background-color: var(--mid-blue);
    height: 12vw;
    width: 4vw;
    margin: 2vw;
    font-size: 2vw;
}

address a:hover{
    background: var(--white);
    color: var(--mid-blue);
    border-radius: 30px;
    text-shadow: none;
}

#resume {
    text-decoration: underline;
}

/* media queries for tablet */
@media only screen and (max-width:1050px) and (min-width:601px){
    body {
        background-size:initial;
        background-position-y: 54%;
    }

    header h2 a{
        font-size: 40px;
    }

    header nav a {
        font-size: 30px;
    }

    .about-me p{
        font-size: 3vw;
        line-height: 3.5vw;
    }

    .about-me img {
        flex: 30%;
        }

    a {
        font-size: 3vw;
    }

    address {
        font-size: 30px;
    }

    address a {
        font-size: 30px;
    }

    .contact-info{
        height: 20vw;
    }
}

/* media queries for mobile */
@media only screen and (max-width:600px){
    
    body {
        background-size:initial;
    }
    
    section{
        margin: 5px;
    }

    .section-title{
        flex: 80%;
        font-size: 8vw;
    }

    a {
        font-size: 16px;
    }

    header nav{
        justify-content: center;
    }

    header h2{
        text-align: center;
        flex: 80%;
    }

    header h2 a{
        font-size: 30px;
    }

    .hero {
        padding: 100px 200px 100px 75px;
    }

    .my-work div{
        flex: 80%
    }

    .about-me{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        box-sizing: content-box;
    }


    .about-me img{
        margin: 1vw;
        flex: 30%;
    }

    .about-me p{
        flex: 50%;
        font-size: 16px;
        line-height: 18px;
        padding: 16px 10px;
    }

    .contact-info{
        height: 30vw;
        padding: 5px;
    }

    address {
        font-size: 16px;
    }
}