:root{
--green:#687864;
--dark-blue: #31708e;
--mid-blue: #5085A5;
--light-blue: #8FC1E3;
--white:#F7F9Fb;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white);
    background-color: var(--light-blue);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px 0 35px;
    background-image: url('./images/hero.png');
    background-size: cover;
    background-position: 0%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 0;
}

header h2 {
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0,5);
}

header a {
    text-decoration: none;
    color: inherit;
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex: 0 0 45%;
}

header nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--white);
    color: var(--mid-blue);
    border-radius: 30px;
    text-shadow: none;
}

.hero {
  background-image: url('./images/hero.png');
  background-size: cover;
  background-position: 0%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  padding: 100px 200px 200px 0px;
}

.hero h1 {
    font-size: 55px;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #687864;
    margin: 20px;
    border-radius: 5px;
    box-sizing: content-box;
}

.section-title{
    text-align: center;
    font-size: 3vw;
    margin: 1vw;
    flex: 80%
}

.about-me img{
    width: 20%;
    margin: 0 0 5vw 5vw;
    border-radius: 5px;
    border: .25vw solid var(--light-blue);
}

.about-me p{
    font-size: 1.5vw;
    word-spacing: .1vw;
    line-height: 2vw;
    flex: 50%;
    text-align: left;
    padding: 5vw;
}

.my-work div{
    padding: 2vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.work-tiles{
    align-items: center;
}

.my-work div:first-child{
    flex: 80%;
}

.tile{
    margin: 10px;
    background-position: center;
    background-size: cover;
    height: 20vw;
    border-radius: 1vw;
}

.tile:hover{
    border: 1px solid var(--light-blue);
}

a{
    text-decoration: none;
    color: #ffff;
}

.tile a{
    font-size: 2vw;
}

#run-buddy {
    background-image: url("../assets/images/run-buddy-hero.jpg");
}

#robot-gladiators {
    background-image: url("../assets/images/robot-gladiators.jpeg");
}

#placeholder-1{
    background-image: url("../assets/images/placeholder.jpg");
}

#placeholder-2{
    background-image: url("../assets/images/placeholder2.png");
}

.info-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 90%;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 40%;
    width: 20%;
    background-color: var(--mid-blue);
    height: 12vw;
    width: 4vw;
    margin: 2vw;
    font-size: 2vw;
}

/* media queries for tablet */
@media only screen and (max-width:1024px) and (min-width:600px){
    .my-work div{
        flex: 40%
    }
}

/* media queries for mobile */
@media only screen and (max-width:600px){
    
    .section-title{
        flex: 80%;
        font-size: 8vw;
    }

    .my-work div{
        flex: 80%
    }

    .about-me{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        box-sizing: content-box;
    }


    .about-me img{
        margin: 1vw;
        flex: 30%;
    }

    .about-me p{
        flex: 50%;
        font-size: 16px;
        line-height: 18px;
        padding: 16px 0;
    }
}